<%= simple_form_for(@sub_concept) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name %>

    <%= f.association :concept, as: :select, :label => 'Concepto', label_method: lambda { |concept| "#{concept.language.name}/#{concept.name}" }  %>

  </div>

  <div>
    <%= f.button :submit , {class: "btn btn-info"}%>
  </div>
<% end %>
