<%= simple_form_for(@sub_concept) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name, :label => "Nombre del subconcepto" %>

    <%= f.association :concept, as: :select, :label => 'Concepto', label_method: lambda { |concept| "#{concept.language.name}/#{concept.name}" }  %>

  </div>

    <%= f.button :submit , "Crear subconcepto", :class => "btn btn-primary"%>
	<%= link_to 'Cancelar', sub_concepts_path, :class => "btn btn-danger"%>

<% end %>
