<h1>Subconceptos</h1>

<span style="display: inline-block;float:right;">
  <%= link_to '<span class="glyphicon glyphicon-plus" style="margin-right: 5px;"></span>Nuevo Subconcepto'.html_safe, 
              new_sub_concept_path,
              :class => "btn btn-info" %>
</span>


<br/><br/>

<table class="table table-bordered table-striped">
  <tr>
    <th>Nombre</th>
    <th>Concepto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sub_concepts.each do |sub_concept| %>
  <tr>
    <td><%= sub_concept.name %></td>
    <td><%= sub_concept.concept.language.name + "/" + sub_concept.concept.name %></td>
    <td><%= link_to 'Ver', sub_concept , {class: "btn btn-default btn-xs"}%></td>
    <td><%= link_to 'Editar', edit_sub_concept_path(sub_concept) , {class: "btn btn-default btn-xs"}%></td>
    <td><%= link_to 'Borrar', sub_concept, method: :delete, data: { confirm: '¿Estas seguro?' } , :class => "btn btn-default btn-xs"%></td>
  </tr>
<% end %>
</table>

<br />

