<%= simple_form_for(@language) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => 'Nombre de lenguaje' %>

  </div>

  	<%= f.button :submit , "Crear lenguaje", :class => "btn btn-primary"%>
	<%= link_to 'Cancelar', languages_path, :class => "btn btn-danger"%>

  
<% end %>
