<%= simple_form_for(@group, html: {multipart: true}) do |f| %>
	<fieldset>
		<!-- <legend>Registro de usuario</legend> -->

		<%= f.input :name, :label => 'Nombre del grupo' %>
		<% @students = User.where(utype: 0) %>

		<%= f.input :id, as: :check_boxes, collection: @students, :label_method => :username %>
		
		<%= file_field_tag 'upload' %></p>

		<div class="control-group">
			<div class="controls">
				<%= f.button :submit %>
			</div>
		</div>
	</fieldset>
<% end %>
