
<h3>Detalle de Grupo</h3>
<ul class="nav nav-tabs">
  
  <% if check_admin %>
  <li >
  <%= link_to 'Editar', edit_group_path(@group) %>
  </li>
  <% end %>

  
  <li>
    <%= link_to 'Grupos', groups_path %>
  </li>
  

</ul>

<div class="row">
    <div class="span4">
      <blockquote>
        <p>Nombre de grupo: <%= @group.name %></p>
      </blockquote><hr/>
      <p>
        <i class="icon-user"></i> Due&ntilde;o: <%= @group.user.username %> <hr/>
        <i class="icon-th-list"></i> Miembros:<br/><br/>
        <table class="table table-striped">
        <% for user in @group.users %>
          <tr><td><i class="icon-minus"></i>  <%= user.username %> </td></tr>
        </table>
  
		
		<% end %>
      </p>
    </div>
</div>




  