
<h3>Detalle de Grupo</h3>

<div class="row">
    <div class="span4">
      <blockquote>
        <p><%= @group.name %></p>
      </blockquote><hr/>
      <p>
        <i class="icon-user"></i> Due&ntilde;o: <%= @group.user.username %> <hr/>
        <i class="icon-th-list"></i> Miembros:<br/><br/>
        <table class="table table-striped">
        <% for user in @group.users %>
          <tr><td><i class="icon-minus"></i>  <%= user.username %> </td></tr>
        </table>
  
		
		<% end %>
      </p>
    </div>
</div>


<% if check_admin %>
  <%= link_to 'Editar', edit_group_path(@group) %>
	| <%= link_to 'Grupos', groups_path %>
<% end %>