
<h3>Detalle de Grupo</h3>

<div class="row">
    <div class="span4">
      <blockquote>
        <p><%= @group.name %></p>
      </blockquote>
      <p>
        <i class="icon-user"></i> Due&ntilde;o: <%= @group.user.username %> <br>
        <i class="icon-th-list"></i> Miembros: <br/>
        <% for user in @group.users %>
		<i class="icon-minus"></i>  <%= user.username %> <br/>
		<% end %>
      </p>
    </div>
</div>



 
 
<%= link_to 'Editar', edit_group_path(@group) %>

<% if check_admin %>
	| <%= link_to 'Grupos', groups_path %>
<% end %>