<h3>Detalle de Grupo</h3>

<% if current_user.admin? %>

  <%= link_to '<span class="gglyphicon glyphicon-pencil" style="margin-right: 5px;"></span>Editar Grupo'.html_safe,
    edit_group_path(@group),
    :class => "btn btn-default btn-sm" %>

<% end %>

<span style="display: inline-block;float:right;">
  <%= link_to '<span class="glyphicon glyphicon-arrow-left" style="margin-right: 5px;"></span>Ir a Grupos'.html_safe,
    groups_path,
    :class => "btn btn-default btn-sm" %>
</span>

<hr><br/>
<div class="row">
  <div class="span4">
    <blockquote>
      <p>Nombre de grupo: <%= @group.name %></p>
    </blockquote><hr/>
    <p>
    <span class="glyphicon glyphicon-user"></span> Due&ntilde;o: <%= @group.user.username %> <hr/>
    <span class="glyphicon glyphicon-th-list"></span> Miembros:<br/><br/>
    <table class="table table-striped">
      <% for user in @group.users do %>
        <tr><td><span class="glyphicon glyphicon-asterisk"></span>  <%=   user.username %> </td></tr>
      <%  end %>
    </table>
    </p>
  </div>
</div>

<br/>
