  <%
            if @user.utype == 0
              type = "Estudiante"
            elsif @user.utype == 1
              type = "Profesor"
            elsif @user.utype == 2
              type = "Administrador"
            else
              type = "Error"
            end
        %>

<h3>Perfil del Usuario</h3>

<div class="row">
    <div class="span2">
      <img src="http://www.clker.com/cliparts/c/4/0/e/1197115544208915882acspike_male_user_icon.svg.med.png"  alt="" class="img-rounded">
    </div>
    <div class="span4">
      <blockquote>
        <p>
          <%= @user.fname + @user.lname %>
        </p>
      </blockquote>
      <p>
        <i class="icon-user"></i> Usuario: <%= @user.username %> <br>
        <i class="icon-envelope"></i> <%= @user.mail %> <br>
        <i class="icon-asterisk"></i> Tipo: <%= type %>
      </p>
    </div>
</div>
<br/>

 
<%= link_to 'Editar', edit_user_path(@user) %>

<% if check_admin %>
	| <%= link_to 'Usuarios', users_path %>
<% end %>
