<h3>Preguntas Maestras</h3>
 
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Lenguaje</th>
      <th>Concepto</th>
      <th>Subconcepto</th>
      <th>Pregunta</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
 
  <tbody>
  <% 
  @masterQuestions.each do |mq|
    if mq.borrado == 0
  %>
      <tr>
        <td><%=   mq.language.name %></td>
        <td><%=   mq.concept.name %></td>
        <td><%=   mq.sub_concept.name %></td>
        <td><%=   mq.inquiry %></td>
        <td><%=   link_to 'Ver más', mq %></td>
        <td><%=   link_to 'Editar', edit_master_question_path(mq) %></td>
        <td><%=   link_to 'Borrar', :action => "deleteQuestion", :id => mq.id %></td>

      </tr>
    <% 
    end
  end
  %>
  </tbody>
</table>
 
<br />
 