<h1>Conceptos</h1>
<span style="display: inline-block;float:right;">
<%= link_to '<i class="icon-plus-sign  icon-white" style="margin-right: 5px;"></i>Nuevo Concepto'.html_safe, 
          new_concept_path ,
          class: "btn btn-info" %>
</span>
<br/><br/>
<table class="table table-bordered table-striped">
  <tr>
    <th>Concepto</th>
    <th>Lenguaje</th>
    <th style="width: 1px;"></th>
    <th style="width: 1px;"></th>
    <th style="width: 1px;"></th>
  </tr>

<% @concepts.each do |concept| %>
  <tr>
    <td><%= concept.name %></td>
    <td><%= concept.language.name %></td>
    <td>
    <%= link_to 'Ver', concept, {class: "btn btn-default btn-xs"}  %> 
    </td>
    <td>
    <%= link_to 'Editar', edit_concept_path(concept), {class: "btn btn-default btn-xs"} %>
    </td>
    <td>
    <%= link_to 'Borrar', concept, method: :delete, data: { confirm: "Estas seguro?" }, :class => "btn btn-default btn-xs"  %>
    </td>
  </tr>
<% end %>
</table>

<br />


