<div class="jumbotron">
	<h3 style="text-align: center;">Examen : "<%= @examName %> "</h3>

	<%= render 'form_show' %>

	<% if check_admin %>
		<%= link_to "Regresar", request.referer, {class: "btn btn-default"} %>
	<% else %>
		<%= link_to "Regresar", "/mystats", {class: "btn btn-default"} %>
	<% end %>

	<% if @exam.errors.any? %>
		<ul>
			<% for message_error in @exam.errors.full_messages %>
			<li>- <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
</div>