<div class="table">

  <!-- Languages 2: <%= @questions_agg %><br /> -->


  <h2>Resultados del examen</h2>
  <%= @hola %>
  <% if @cantakes!= nil %>
  
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Matrícula</th>
          <th>Intento Número </th>
          <th>Resultado</th>
         
        </tr>
      </thead>
     


      <tbody>
    


      <% @cantakes.each do |can| %>
        <% cont = 1 %>
        <% @h[can.user_id].each do |h| %>
          <tr>
            <td class="usuario"><%= can.user.username %></td>
            <td><%= cont %></td>
            <td><%=  link_to @h[can.user_id][cont-1].score,  :controller => "exams", :action => "show", :id => @h[can.user_id][cont-1].id%></td> 
          </tr>
          <% cont = cont + 1 %>
        <% end %>
          <tr><td class="finish" colspan="3"></td></tr>
      <% end %>

      </tbody>
    </table>

  <% else %>
    
    <table class="table table-striped table-bordered table-condensed">
      <tbody>
        <tr>
          <td>Usted no ha creado exámenes aún.</td>
        </tr>
      </tbody>
    </table>
  
  <% end %>
</div>